# Android build
/build/
/app/build/
/generated/
*.apk
*.aab
*.ap_
*.dex
*.class

# Android Studio
/.gradle/
/app/.gradle/
/local.properties
/.idea/
*.iml
/captures/
.navigation/

# Log files
*.log

# Keystore files
*.jks
*.keystore
